$break-tablet: 768px;
$break-desktop-small: 992px;
$break-desktop-medium: 1200px;
$break-desktop-large: 1400px;

/* end vars */

/* mixings */

@mixin respond-to($media) {
    @if $media == mobile {
        @media (max-width: $break-tablet - 1 ) { @content; }
    }
    @else if $media == tablet {
        @media (min-width: $break-tablet) and (max-width: $break-desktop-small - 1) { @content; }
    }
    @else if $media == desktop-small {
        @media (min-width: $break-desktop-small) and (max-width: $break-desktop-medium - 1) { @content; }
    }
    @else if $media == desktop-medium {
        @media (min-width: $break-desktop-medium) and (max-width: $break-desktop-large - 1) { @content; }
    }
    @else if $media == desktop-large {
        @media (min-width: $break-desktop-large) { @content; }
    }
    
    @else if $media == desktop {
        @media (min-width: $break-desktop-small) { @content; }
    }
    
    @else if $media == not-mobile {
        @media (min-width: $break-tablet) { @content; }
    }
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'ubuntu';
    overflow-x: hidden;
}

.row:after, .row:before, .form-row:after, .form-row:before {
    display: table;
    content: " ";
    clear: both;
}

.nobr { white-space: nowrap }

.clear {
    clear: both;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.row {
    margin: 0 -15px;

    .col {
        width: 100%;
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
        float: left;
    }

    @media screen and (min-width: 768px) {
        .col-1 {
            width: 8.333%;
        }
        
        .col-2 {
            width: 16.666%;
        }
        
        .col-3 {
            width: 25%;
        }

        .col-4 {
            width: 33.333%;
        }

        .col-5 {
            width: 41.666%;
        }

        .col-6 {
            width: 50%;
        }

        .col-7 {
            width: 58.333%;
        }

        .col-8 {
            width: 66.666%;
        }
        
        .col-9 {
            width: 75%;
        }
        
        .col-10 {
            width: 83.333%;
        }

        /* push */
        .push-1 {
            left: 8.333%;
        }
        .push-2 {
            left: 16.666%;
        }
        .push-3 {
            left: 25%;
        }
        .push-4 {
            left: 33.333%;
        }
        .push-5 {
            left: 41.666%;
        }
        .push-6 {
            left: 50%;
        }
        .push-7 {
            left: 58.333%;
        }
        .push-8 {
            left: 66.666%;
        }
        /* push */

        /* pull */
        .pull-1 {
            left: -8.333%;
        }
        .pull-2 {
            left: -16.666%;
        }
        .pull-3 {
            left: -25%;
        }
        .pull-4 {
            left: -33.333%;
        }
        .pull-5 {
            left: -41.666%;
        }
        .pull-6 {
            left: -50%;
        }
        .pull-7 {
            left: -58.333%;
        }
        .pull-8 {
            left: -66.666%;
        }
        /* pull */
    }
}

.img-responsive {
    max-width: 100%;
    width: 100%;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

/* general desktop */
@include respond-to(desktop) {
    .hidden-desktop {
        display: none !important;
    }
}

/* large desktop >1400 */
@include respond-to(desktop-large) {
    .container {
        width: 1330px;
        margin: 0 auto;
    }
}

/* large desktop >1200 */
@include respond-to(desktop-medium) {
    .container {
        width: 1150px;
        margin: 0 auto;
    }
}

/* large desktop >992 */
@include respond-to(desktop-small) {
    .container {
        width: 960px;
        margin: 0 auto;
    }
}

/* medium desktop > 1200 */
@include respond-to(tablet) {
    .container {
        width: 748px;
        margin: 0 auto;
    }

    .hidden-tablet {
        display: none !important;
    }
}

@include respond-to(mobile) {
    .container {
        width: 100%;
        margin: 0 auto;
        padding: 0 15px;
    }

    .hidden-mobile {
        display: none !important;
    }
}