@include respond-to(not-mobile) {
    body.show-bar {
        #red-bar {
            bottom: 0px;
        }
    }
}

/* laptops */
/* screen width between 1200px and 1399px */
@include respond-to(desktop-medium) {
    body {
        font-size: 30px;
    }

    #display {
        height: 380px;
    }

    #boxes {
        header {
            .pre-text {
                line-height: 36px;
                margin-bottom: 50px;
            }

            .sep {
                margin-bottom: 80px;
            }
        }

        .boxes {
            margin-bottom: 100px;

            .title {
                margin-bottom: 44px;
                line-height: 40px;
            }

            .col-box {
                .content-holder {
                    /* sally brown is a girl in town */
                    height: 420px;

                    .box-number {
                        font-size: 170px;
                        line-height: 135px;
                        padding-top: 70px;
                        margin-bottom: 40px;
                    }

                    .box-text {
                        font-size: 28px;
                        line-height: 38px;
                    }
                }
            }
        }

        .duo {
            .row-duo {
                margin-bottom: 70px;
            }

            .v-table {
                height: 420px;
            }

            .col-question-mark {
                .question-mark-bg {
                    height: 300px;
                    .text {
                        font-size: 68px;
                        line-height: 90px;
                    }
                }
            }

            .col-text {
                .text {
                    padding-top: 30px;
                    padding-left: 45px;
                    padding-right: 30px;
                    font-size: 30px;
                    line-height: 40px;
                }
            }


            .sep {
                margin-bottom: 54px;
            }

        }
    }

    /* videos */
    #videos {
        margin-bottom: 140px;

        .video-holder {
            margin-bottom: 80px;
        }

        .video-title {
            font-size: 30px;
            margin: 0 0 16px;
        }

        h3.title {
            font-size: 30px;
            margin: 0 0 16px;
        }

        .video-carousel .slick-arrow {
            top: 76px;
        }
    }

    /* accordion */
    #accordion {

        .title {
            font-size: 30px;
            margin: 0 0 22px;
        }

        .accordion {
            .item {
                .item-anchor {
                    font-size: 20px;
                    padding: 30px 0;

                    &::after {
                        margin-top: 0px;
                    }
                }

                .item-content {
                    font-size: 20px;
                }
            }
        }
    }

    /* red bar */
    #red-bar {
        height: 95px;

        a.text {
            font-size: 22px;
            line-height: 22px;
            padding-top: 36px;
        }

        img {
            padding-top: 32px;
        }
    }

    /* footer text */
    #footer-text {
        .text-box {
            padding: 32px 42px 0px 60px;
            font-size: 22px;
        }
    }

    /* icons */
    #icons {
        margin-bottom: 130px;

        .icon {
            width: 88px;
        }

        .col-icon {
            .icon-text {
                font-size: 20px;
                margin-top: 32px;
            }
        }
    }

    /* footer accordion */
    /*#footer-accordion {

        h2.title {
            font-weight: 400;
            font-size: 30px;
            padding-bottom: 4px;
        }

        .accordion .item {
            .item-anchor {
                font-size: 20px;
                padding: 30px 0;
            }

            .item-anchor::after {
                width: 16px;
                height: 16px;
            }

            .item-content {
                font-size: 18px;
                padding-right: 32px;
            }

            &.active {
                padding-bottom: 32px;


                .item-anchor {
                    padding-bottom: 40px;
                }
            }
        }
    }*/
}

/* OS floating browser tabs, small laptops, perhaps landscape tablets who knows */
/* screen width between 992px and 1199px */
@include respond-to(desktop-small) {
    body {
        font-size: 26px;
    }

    #display {
        height: 300px;
    }

    #boxes {
        header {
            .pre-text {
                line-height: 32px;
                margin-bottom: 42px;
            }

            .sep {
                margin-bottom: 60px;
            }
        }

        .boxes {
            margin-bottom: 60px;

            .title {
                margin-bottom: 28px;
                line-height: 28px;
            }

            .col-box {
                .content-holder {
                    height: 360px;

                    .box-number {
                        font-size: 140px;
                        line-height: 120px;
                        padding-top: 60px;
                        margin-bottom: 36px;
                    }

                    .box-text {
                        font-size: 22px;
                        line-height: 34px;
                    }
                }
            }
        }

        .duo {
            .row-duo {
                margin-bottom: 60px;
            }

            .v-table {
                height: 340px;
            }

            .col-question-mark {
                padding-top: 50px;

                .question-mark-bg {
                    height: 300px;

                    .text {
                        font-size: 54px;
                        line-height: 70px;
                    }
                }
            }

            .col-text {
                .text {
                    padding-top: 26px;
                    padding-left: 38px;
                    padding-right: 28px;
                    font-size: 26px;
                    line-height: 36px;
                }
            }


            .sep {
                margin-bottom: 48px;
            }

        }
    }

    /* videos */
    #videos {
        margin-bottom: 140px;

        .video-holder {
            margin-bottom: 80px;
        }

        .video-title {
            font-size: 30px;
            margin: 0 0 16px;
        }

        h3.title {
            font-size: 30px;
            margin: 0 0 16px;
        }

        .video-carousel .slick-arrow {
            top: 76px;
        }
    }

    /* accordion */
    #accordion {

        .title {
            font-size: 30px;
            margin: 0 0 22px;
        }

        .accordion {
            .item {
                .item-anchor {
                    font-size: 20px;
                    padding: 30px 0;

                    &::after {
                        margin-top: 0px;
                    }
                }

                .item-content {
                    font-size: 20px;
                }
            }
        }
    }

    /* red bar */
    #red-bar {
        height: 95px;

        a.text {
            font-size: 22px;
            line-height: 22px;
            padding-top: 36px;
        }

        img {
            padding-top: 32px;
        }
    }

    /* footer text */
    #footer-text {
        padding-top: 105px;

        .text-box {
            padding: 32px 38px 0px 54px;
            font-size: 20px;
        }
    }

    /* icons */
    #icons {
        margin-bottom: 130px;

        .icon {
            width: 72px;
        }

        .col-icon {
            .icon-text {
                font-size: 18px;
                margin-top: 25px;
                padding-left: 10px;
            }
        }
    }


    #footer-menu {
        .footer-menu-holder  {
            width: 100%;
            left: 0%;

            .footer__menu-col {
                width: 80%;
            }

            .footer__copyright-col {
                width: 20%;
            }
        }
    }
}

/* tablets and pretty small OS browser tabs */
/* screen width between 768px and 991px */
@include respond-to(tablet) {
    body {
        font-size: 20px;
    }

    #display {
        height: 240px;
    }
    #boxes {
        header {
            .pre-text {
                line-height: 26px;
                margin-bottom: 36px;
            }

            .sep {
                margin-bottom: 48px;
            }
        }

        .boxes {
            margin-bottom: 48px;

            .title {
                margin-bottom: 24px;
                line-height: 22px;
            }

            .col-box {
                .content-holder {
                    height: 280px;
                    padding-left: 30px;
                    padding-right: 24px;


                    .box-number {
                        font-size: 104px;
                        line-height: 92px;
                        padding-top: 42px;
                        margin-bottom: 24px;
                    }

                    .box-text {
                        font-size: 18px;
                        line-height: 30px;
                    }
                }
            }
        }

        .duo {
            .row-duo {
                margin-bottom: 50px;
            }

            .v-table {
                height: 260px;
            }

            .col-question-mark {
                padding-top: 50px;

                .question-mark-bg {
                    height: 240px;

                    .text {
                        font-size: 48px;
                        line-height: 60px;
                    }
                }
            }

            .col-text {
                .text {
                    padding-top: 30px;
                    padding-left: 26px;
                    padding-right: 28px;
                    font-size: 20px;
                    line-height: 30px;
                }
            }

            .sep {
                margin-bottom: 48px;
            }

        }
    }

    /* videos */
    #videos {
        margin-bottom: 140px;

        .video-holder {
            margin-bottom: 80px;
        }

        .video-title {
            font-size: 30px;
            margin: 0 0 16px;
        }

        h3.title {
            font-size: 30px;
            margin: 0 0 16px;
        }

        .video-carousel .slick-arrow {
            top: 76px;
        }
    }

    /* accordion */
    #accordion {

        .title {
            font-size: 30px;
            margin: 0 0 22px;
        }

        .accordion {
            .item {
                .item-anchor {
                    font-size: 20px;
                    padding: 30px 0;

                    &::after {
                        margin-top: 0px;
                    }
                }

                .item-content {
                    font-size: 20px;
                }
            }
        }
    }

    /* red bar */
    #red-bar {
        height: 95px;

        a.text {
            font-size: 22px;
            line-height: 22px;
            padding-top: 36px;
        }

        img {
            padding-top: 32px;
        }
    }

    /* footer text */
    #footer-text {
        padding-top: 105px;

        .text-box {
            padding: 32px 38px 0px 54px;
            font-size: 18px;
        }
    }

    /* icons */
    #icons {
        margin-bottom: 110px;

        .icon {
            width: 50px;
        }

        .col-icon {
            .icon-text {
                font-size: 14px;
                margin-top: 15px;
                padding-left: 5px;
            }
        }
    }

    #footer-menu {
        .footer-menu-holder  {
            width: 100%;
            left: 0%;
        }

        .footer__menu-col {
            width: calc(100% - 155px);
        }

        .footer__copyright-col {
            width: 155px;
            padding-left: 0;
        }
    }
}

/* mobile */
/* below 768px */

@include respond-to(mobile) {
    .container {
        padding: 0 25px;
    }

    body {
        font-size: 21px;
    }

    #top-bar {
        background-color: white;
        border-bottom: solid 6px $red;
        height: 76px;

        .logo {
            margin-top: 22px;
        }
    }

    #display {
        height: auto;
        background: none;
        border-bottom: solid 4px $red;
        font-size: 0;
        margin-bottom: 34px;

        img {
            width: 100%;
        }
    }

    #boxes {
        header {
            .pre-text {
                line-height: 26px;
                margin-bottom: 36px;
            }

            .sep {
                margin-bottom: 48px;
            }
        }

        .boxes {
            margin-bottom: 130px;

            .title {
                margin-bottom: 24px;
                line-height: 28px;
            }

            .col-box {
                .content-holder {
                    height: 370px;
                    padding-left: 30px;
                    padding-right: 24px;
                    margin-bottom: 24px;


                    .box-number {
                        font-size: 150px;
                        line-height: 120px;
                        padding-top: 62px;
                        margin-bottom: 24px;
                        &.number-one {
                            text-indent: -6px;
                        }
                    }

                    .box-text {
                        font-size: 26px;
                        line-height: 35px;
                    }
                }
            }
        }

        .duo {
            .row-duo {
                margin-bottom: 100px;
            }

            .v-table {
                height: auto;
            }

            .col-question-mark {
                padding-top: 0px;
                box-shadow: 0px 5px 0px $red;

                .question-mark-bg {
                    height: 185px;
                    padding-top: 30px;
                    margin-left: 0px;
                    margin-top: 0px;
                    margin-bottom: 42px;

                    .text {
                        font-size: 43px;
                        line-height: 59px;
                    }
                }
            }

            .col-text {
                .text {
                    padding-top: 48px;
                    padding-left: 0px;
                    padding-right: 0px;
                    font-size: 27px;
                    line-height: 33px;
                    text-align: center;

                    br {
                        display: none;
                    }
                }
            }

            .sep {
                margin-bottom: 18px;
            }

        }
    }

    /* videos */
    #videos {
        margin-bottom: 140px;

        .video-holder {
            margin-bottom: 80px;
        }

        .video-title {
            font-size: 22px;
            margin: 0 0 10px;
        }

        h3.title {
            font-size: 21px;
            margin: 0 0 16px;
        }

        .video-carousel {
            padding: 0;
            margin: 0 -25px;

            .slick-arrow {
                top: 76px;
            }
        }
    }

    /* accordion */
    #accordion {

        .title {
            font-size: 21px;
            margin: 0 0 22px;
        }

        .accordion {
            .item {
                position: relative;

                .item-anchor {
                    font-size: 16px;
                    padding: 25px 0;
                    position: relative;
                    padding-right: 30px;

                    &::after {
                        margin-top: 0px;
                        margin-top: 0px;
                        position: absolute;
                        top: calc(50% - 12px);
                        right: 0px;
                    }
                }

                .item-content {
                    font-size: 16px;
                    padding-right: 20px;
                }

                &.active {
                    .item-anchor {
                        padding-bottom: 25px;
                    }
                }
            }
        }
    }

    /* red bar */
    #red-bar {
        height: 72px;
        top: auto;
        bottom: 0;
        position: fixed;

        a.text {
            font-size: 20px;
            line-height: 22px;
            padding-top: 13px;

            width: calc(100% - 40px);
        }

        img {
            padding-top: 20px;
        }
    }

    /* footer text */
    #footer-text {
        padding-top: 105px;

        .text-box {
            padding: 22px 16px 10px 24px;
            font-size: 15px;
        }
    }

    /* icons */
    #icons {
        margin-bottom: 110px;

        .icon {
            width: 50px;
        }

        .col-icon {
            margin-bottom: 40px;

            .icon-text {
                font-size: 14px;
                margin-top: 15px;
                padding-left: 5px;
            }
        }
    }

    /* footer accordion */
    #footer-accordion {

        .container {
            border: none;
        }

        h2.title {
            font-weight: 400;
            padding-bottom: 4px;
        }
    }

    #footer-menu {
        .footer-menu-holder  {
            width: 100%;
            left: 0%;

            .footer__menu {
                display: block;
                .footer__menu-item {
                    margin: 0 0 20px;
                }
            }
        }

        .footer__menu-col {
            width: calc(50%);
        }

        .footer__copyright {
            padding-top: 68px;
            display: block;
        }
        .footer__copyright-col {
            width: 50%;
        }
    }
}