@import "_pre-made-styles.scss";
@import "_fonts.scss";
@import "slick.scss";
$red: #ed0000;


body {
    font-family: 'Open Sans';
    color: black;
    font-size: 36px;
    overflow-x: hidden;
}

a {
    color: inherit;
}

hr.sep {
    border: none;
    border-top: solid 1px #d6d6d6;
    margin-top: 0px;
    margin-bottom: 60px;
}

p {
    margin-top: 0;
}

section {
    position: relative;
}

.v-table {
    width: 100%;
    vertical-align: middle;
    display: table;

    .v-cell {
        width: 100%;
        vertical-align: middle;
        display: table-cell;
    }
}

#top-bar {
    height: 92px;
    padding: 0;
    background-color: $red;
    border-bottom: solid 2px white;

    .logo {
        width: 150px;   
        display: block;
        margin-top: 30px;
    }
}

#display {
    background-image: url('../img/display-bg.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 408px;
    margin-bottom: 70px;
}


#boxes {
    header {
        .sep {
            margin-bottom: 100px;
        }

        .pre-text {
            font-weight: 100;
            margin-bottom: 60px;
            line-height: 48px;
        }
    }

    .boxes {
        margin-bottom: 120px;

        .title {
            font-weight: 100;
            margin-bottom: 50px;
            line-height: 44px;
            letter-spacing: -1px;
        }

        .col-box {
            .content-holder {
                padding-left: 40px;
                padding-right: 35px;
                color: white;
                background-color: #d60a15;
                height: 495px;
                background-position: center;
                background-size: cover;

                .box-number {
                    font-size: 190px;
                    line-height: 150px;
                    padding-top: 85px;
                    margin-bottom: 50px;
                    display: block;
                    font-weight: 200;

                    &.number-one {
                        text-indent: -15px;
                    }
                }

                .box-text {
                    font-weight: 400;
                    letter-spacing: -1px;
                    font-size: 34px;
                    line-height: 46px;
                    display: block;
                }
            }
        }
    }

    .duo {
        .row-duo {
            margin-bottom: 85px;
        }

        .v-table {
            height: 480px;
        }

        .col-question-mark {
            box-shadow: inset -2px 0px 0px $red, 3px 0px 0px $red;

            .question-mark-bg {
                height: 333px;
                background-image: url(../img/question-mark.png);
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                padding-top: 60px;
                margin-left: -20px;
                margin-top: -20px;

                .text {
                    color: #515151;
                    text-align: center;
                    margin-bottom: 0;
                    font-size: 78px;
                    font-weight: 300;
                    line-height: 105px;
                    display: block;
                    letter-spacing: -2px;
                }
            }
        }

        .col-text {
            .text {
                padding-top: 40px;
                padding-left: 55px;
                padding-right: 30px;
                margin-bottom: 0;
                color: #7d7d7d;
                font-size: 34px;
                font-weight: 500;
                line-height: 45px;
                letter-spacing: -1px;

                .red {
                    color: $red;
                }
            }
        }

        .sep {
            margin-bottom: 70px;
        }
    }
}


#videos {
    margin-bottom: 200px;

    .video-title {
        font-weight: 300;
        font-size: 36px;
        margin: 0 0 20px;
        letter-spacing: -1px;
    }

    .video-holder {
        margin-bottom: 100px;
    }

    h3.title {
        font-weight: 300;
        font-size: 36px;
        margin: 0 0 20px;
        letter-spacing: -1px;
    }

    .video-carousel {
        padding: 0 50px;

        .item {
            padding: 0 10px;
            .video-thumb {
                width: 100%;
            }
        }

        .slick-arrow {
            width: 32px;
            height: 32px;
            background: none;
            border: none;
            border-bottom: solid 5px black;
            font-size: 0;
            top: 90px;
            position: absolute;
            outline: 0;
            cursor: pointer;
        }

        .slick-prev {
            border-left: solid 5px black;
            left: 20px;
            transform: rotate(45deg);
        }

        .slick-next {
            border-right: solid 5px black;
            right: 20px;
            transform: rotate(-45deg);
        }
    }
}

#accordion {
    .title {
        font-weight: 300;
        font-size: 36px;
        margin: 0 0 27px;
        letter-spacing: -1px;
    }

    .accordion {
        border-bottom: solid 1px #d6d6d6;
        margin-bottom: 58px;
    }

    .accordion .item {
        border-top: solid 1px #d6d6d6;
        transition: padding-bottom 300ms linear;

        .item-anchor {
            color: black;
            font-size: 24px;
            font-weight: 400;
            text-decoration: none;
            padding: 34px 0;
            display: block;
            cursor: pointer;
            letter-spacing: -1px;
            transition: padding-bottom 300ms linear;
        }

        .item-anchor::after {
            transition: all 300ms linear;
            width: 16px;
            height: 16px;
            border-bottom: solid 3px black;
            border-right: solid 3px black;
            transform: rotate(45deg);
            content: " ";
            position: relative;
            display: block;
            float: right;
            margin-top: 5px;
        }

        .item-content {
            display: none;
            color: #9d9d9d;
            font-size: 24px;
            position: relative;
            letter-spacing: -1px;
            padding-right: 40px;
            padding-top: 0;
            padding-bottom: 0;
        }

        &.active {
            padding-bottom: 40px;


            .item-anchor {
                padding-bottom: 52px;


                &::after {
                    margin-top: 5px;
                    transform: rotate(225deg);
                }
            }
        }
    }
}


#red-bar {
    background-color: $red;
    height: 115px;
    position: fixed;
    bottom: -115px;
    z-index: 10;
    width: 100%;
    transition: all 300ms linear;

    a.text {
        font-size: 24px;
        color: white;
        text-decoration: none;
        line-height: 24px;
        display: block;
        padding-top: 16px;
        float: left;
        padding-top: 44px;
    }

    img {
        display: inline-block;
        vertical-align: middle;
        float: right;
        padding-top: 42px;
    }
}

#footer-text {
    padding-top: 131px;
    margin-bottom: 99px;

    .text-box {
        border: solid 1px #979797;
        border-radius: 8px;
        padding: 32px 50px 0px 72px;
        color: #979797;
        font-size: 24px;
        letter-spacing: -1px;
        font-weight: 400;
    }
}

#icons {
    margin-bottom: 153px;

    .col-icon {
        font-size: 0;

        a {
            text-decoration: none;
            color: black;
        }

        .icon-holder {
            float: left;
        }

        .icon-text {
            float: left;
            padding-left: 20px;
            font-size: 24px;
            margin-top: 30px;
        }
    }
}

#footer-accordion {
    .container {
        border-top: solid 1px #e9e9e9;
    }

    h2.title {
        font-weight: 400;
        font-size: 16px;
        padding-bottom: 0px;
        display: inline-block;
        border-bottom: solid 1px #777;
        margin: 0;
        color: #777;
    }

    .accordion .item {
        border-bottom: solid 1px #d6d6d6;
        transition: padding-bottom 300ms linear;

        .item-anchor {
            color: #777;
            font-size: 16px;
            font-weight: 400;
            text-decoration: none;
            padding: 28px 0;
            display: block;
            cursor: pointer;
            letter-spacing: -1px;
            transition: margin-bottom 300ms linear;
            padding-left: 10px;
        
            &:hover {
                background: #f3f3f3;
            }
        }

        .item-anchor::after {
            transition: all 300ms linear;
            width: 6px;
            height: 6px;
            border-bottom: solid 1px #777;
            border-right: solid 1px #777;
            transform: rotate(45deg);
            content: " ";
            position: relative;
            display: block;
            float: right;
            margin-top: 5px;
            margin-right: 20px;
        }

        .item-content {
            padding-left: 10px;
            display: none;
            color: #9d9d9d;
            font-size: 16px;
            position: relative;
            letter-spacing: -1px;
            padding-right: 40px;
            padding-top: 0;
            padding-bottom: 0;
        }

        &.active {
            padding-bottom: 20px;

            .item-anchor {
                margin-bottom: 20px;
                background: #f3f3f3;


                &::after {
                    margin-top: 5px;
                    transform: rotate(225deg);
                }
            }
        }
    }
}

#footer-menu {
    font-size: 15px;
    line-height: 1;
    padding: 50px 0;
    padding-bottom: 170px;
    color: #777;
    
    .footer__copyright-col {
        text-align: center;
    }

    .footer__menu {
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: row;

        .footer__menu-item {
            display: block;
            margin: 0 15px;
            
            &:first-child {
                margin-left: 0;
            }
            
            .footer__menu-link {
                color: #777;
            }
        }
    }
}

@import "_responsiveness.scss";