/* end vars */
/* mixings */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-family: 'ubuntu';
  overflow-x: hidden; }

.row:after, .row:before, .form-row:after, .form-row:before {
  display: table;
  content: " ";
  clear: both; }

.nobr {
  white-space: nowrap; }

.clear {
  clear: both; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

.row {
  margin: 0 -15px; }
  .row .col {
    width: 100%;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left; }
  @media screen and (min-width: 768px) {
    .row {
      /* push */
      /* push */
      /* pull */
      /* pull */ }
      .row .col-1 {
        width: 8.333%; }
      .row .col-2 {
        width: 16.666%; }
      .row .col-3 {
        width: 25%; }
      .row .col-4 {
        width: 33.333%; }
      .row .col-5 {
        width: 41.666%; }
      .row .col-6 {
        width: 50%; }
      .row .col-7 {
        width: 58.333%; }
      .row .col-8 {
        width: 66.666%; }
      .row .col-9 {
        width: 75%; }
      .row .col-10 {
        width: 83.333%; }
      .row .push-1 {
        left: 8.333%; }
      .row .push-2 {
        left: 16.666%; }
      .row .push-3 {
        left: 25%; }
      .row .push-4 {
        left: 33.333%; }
      .row .push-5 {
        left: 41.666%; }
      .row .push-6 {
        left: 50%; }
      .row .push-7 {
        left: 58.333%; }
      .row .push-8 {
        left: 66.666%; }
      .row .pull-1 {
        left: -8.333%; }
      .row .pull-2 {
        left: -16.666%; }
      .row .pull-3 {
        left: -25%; }
      .row .pull-4 {
        left: -33.333%; }
      .row .pull-5 {
        left: -41.666%; }
      .row .pull-6 {
        left: -50%; }
      .row .pull-7 {
        left: -58.333%; }
      .row .pull-8 {
        left: -66.666%; } }

.img-responsive {
  max-width: 100%;
  width: 100%; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

/* general desktop */
@media (min-width: 992px) {
  .hidden-desktop {
    display: none !important; } }
/* large desktop >1400 */
@media (min-width: 1400px) {
  .container {
    width: 1330px;
    margin: 0 auto; } }
/* large desktop >1200 */
@media (min-width: 1200px) and (max-width: 1399px) {
  .container {
    width: 1150px;
    margin: 0 auto; } }
/* large desktop >992 */
@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    width: 960px;
    margin: 0 auto; } }
/* medium desktop > 1200 */
@media (min-width: 768px) and (max-width: 991px) {
  .container {
    width: 748px;
    margin: 0 auto; }

  .hidden-tablet {
    display: none !important; } }
@media (max-width: 767px) {
  .container {
    width: 100%;
    margin: 0 auto;
    padding: 0 15px; }

  .hidden-mobile {
    display: none !important; } }
@font-face {
  font-family: 'Open Sans';
  src: local("Open Sans Light"), local("OpenSans-Light"), url("../fonts/OpenSans-Light.woff2") format("woff2"), url("../fonts/OpenSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'Open Sans';
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url("../fonts/OpenSans-Bold.woff2") format("woff2"), url("../fonts/OpenSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Open Sans';
  src: local("Open Sans Regular"), local("OpenSans-Regular"), url("../fonts/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Open Sans';
  src: local("Open Sans SemiBold"), local("OpenSans-SemiBold"), url("../fonts/OpenSans-SemiBold.woff2") format("woff2"), url("../fonts/OpenSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal; }
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0; }

.slick-list:focus {
  outline: none; }

.slick-list.dragging {
  cursor: pointer;
  cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.slick-track:before,
.slick-track:after {
  display: table;
  content: ''; }

.slick-track:after {
  clear: both; }

.slick-loading .slick-track {
  visibility: hidden; }

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px; }

[dir='rtl'] .slick-slide {
  float: right; }

.slick-slide img {
  display: block; }

.slick-slide.slick-loading img {
  display: none; }

.slick-slide.dragging img {
  pointer-events: none; }

.slick-initialized .slick-slide {
  display: block; }

.slick-loading .slick-slide {
  visibility: hidden; }

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

body {
  font-family: 'Open Sans';
  color: black;
  font-size: 36px;
  overflow-x: hidden; }

a {
  color: inherit; }

hr.sep {
  border: none;
  border-top: solid 1px #d6d6d6;
  margin-top: 0px;
  margin-bottom: 60px; }

p {
  margin-top: 0; }

section {
  position: relative; }

.v-table {
  width: 100%;
  vertical-align: middle;
  display: table; }
  .v-table .v-cell {
    width: 100%;
    vertical-align: middle;
    display: table-cell; }

#top-bar {
  height: 92px;
  padding: 0;
  background-color: #ed0000;
  border-bottom: solid 2px white; }
  #top-bar .logo {
    width: 150px;
    display: block;
    margin-top: 30px; }

#display {
  background-image: url("../img/display-bg.gif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 408px;
  margin-bottom: 70px; }

#boxes header .sep {
  margin-bottom: 100px; }
#boxes header .pre-text {
  font-weight: 100;
  margin-bottom: 60px;
  line-height: 48px; }
#boxes .boxes {
  margin-bottom: 120px; }
  #boxes .boxes .title {
    font-weight: 100;
    margin-bottom: 50px;
    line-height: 44px;
    letter-spacing: -1px; }
  #boxes .boxes .col-box .content-holder {
    padding-left: 40px;
    padding-right: 35px;
    color: white;
    background-color: #d60a15;
    height: 495px;
    background-position: center;
    background-size: cover; }
    #boxes .boxes .col-box .content-holder .box-number {
      font-size: 190px;
      line-height: 150px;
      padding-top: 85px;
      margin-bottom: 50px;
      display: block;
      font-weight: 200; }
      #boxes .boxes .col-box .content-holder .box-number.number-one {
        text-indent: -15px; }
    #boxes .boxes .col-box .content-holder .box-text {
      font-weight: 400;
      letter-spacing: -1px;
      font-size: 34px;
      line-height: 46px;
      display: block; }
#boxes .duo .row-duo {
  margin-bottom: 85px; }
#boxes .duo .v-table {
  height: 480px; }
#boxes .duo .col-question-mark {
  box-shadow: inset -2px 0px 0px #ed0000, 3px 0px 0px #ed0000; }
  #boxes .duo .col-question-mark .question-mark-bg {
    height: 333px;
    background-image: url(../img/question-mark.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding-top: 60px;
    margin-left: -20px;
    margin-top: -20px; }
    #boxes .duo .col-question-mark .question-mark-bg .text {
      color: #515151;
      text-align: center;
      margin-bottom: 0;
      font-size: 78px;
      font-weight: 300;
      line-height: 105px;
      display: block;
      letter-spacing: -2px; }
#boxes .duo .col-text .text {
  padding-top: 40px;
  padding-left: 55px;
  padding-right: 30px;
  margin-bottom: 0;
  color: #7d7d7d;
  font-size: 34px;
  font-weight: 500;
  line-height: 45px;
  letter-spacing: -1px; }
  #boxes .duo .col-text .text .red {
    color: #ed0000; }
#boxes .duo .sep {
  margin-bottom: 70px; }

#videos {
  margin-bottom: 200px; }
  #videos .video-title {
    font-weight: 300;
    font-size: 36px;
    margin: 0 0 20px;
    letter-spacing: -1px; }
  #videos .video-holder {
    margin-bottom: 100px; }
  #videos h3.title {
    font-weight: 300;
    font-size: 36px;
    margin: 0 0 20px;
    letter-spacing: -1px; }
  #videos .video-carousel {
    padding: 0 50px; }
    #videos .video-carousel .item {
      padding: 0 10px; }
      #videos .video-carousel .item .video-thumb {
        width: 100%; }
    #videos .video-carousel .slick-arrow {
      width: 32px;
      height: 32px;
      background: none;
      border: none;
      border-bottom: solid 5px black;
      font-size: 0;
      top: 90px;
      position: absolute;
      outline: 0;
      cursor: pointer; }
    #videos .video-carousel .slick-prev {
      border-left: solid 5px black;
      left: 20px;
      transform: rotate(45deg); }
    #videos .video-carousel .slick-next {
      border-right: solid 5px black;
      right: 20px;
      transform: rotate(-45deg); }

#accordion .title {
  font-weight: 300;
  font-size: 36px;
  margin: 0 0 27px;
  letter-spacing: -1px; }
#accordion .accordion {
  border-bottom: solid 1px #d6d6d6;
  margin-bottom: 58px; }
#accordion .accordion .item {
  border-top: solid 1px #d6d6d6;
  transition: padding-bottom 300ms linear; }
  #accordion .accordion .item .item-anchor {
    color: black;
    font-size: 24px;
    font-weight: 400;
    text-decoration: none;
    padding: 34px 0;
    display: block;
    cursor: pointer;
    letter-spacing: -1px;
    transition: padding-bottom 300ms linear; }
  #accordion .accordion .item .item-anchor::after {
    transition: all 300ms linear;
    width: 16px;
    height: 16px;
    border-bottom: solid 3px black;
    border-right: solid 3px black;
    transform: rotate(45deg);
    content: " ";
    position: relative;
    display: block;
    float: right;
    margin-top: 5px; }
  #accordion .accordion .item .item-content {
    display: none;
    color: #9d9d9d;
    font-size: 24px;
    position: relative;
    letter-spacing: -1px;
    padding-right: 40px;
    padding-top: 0;
    padding-bottom: 0; }
  #accordion .accordion .item.active {
    padding-bottom: 40px; }
    #accordion .accordion .item.active .item-anchor {
      padding-bottom: 52px; }
      #accordion .accordion .item.active .item-anchor::after {
        margin-top: 5px;
        transform: rotate(225deg); }

#red-bar {
  background-color: #ed0000;
  height: 115px;
  position: fixed;
  bottom: -115px;
  z-index: 10;
  width: 100%;
  transition: all 300ms linear; }
  #red-bar a.text {
    font-size: 24px;
    color: white;
    text-decoration: none;
    line-height: 24px;
    display: block;
    padding-top: 16px;
    float: left;
    padding-top: 44px; }
  #red-bar img {
    display: inline-block;
    vertical-align: middle;
    float: right;
    padding-top: 42px; }

#footer-text {
  padding-top: 131px;
  margin-bottom: 99px; }
  #footer-text .text-box {
    border: solid 1px #979797;
    border-radius: 8px;
    padding: 32px 50px 0px 72px;
    color: #979797;
    font-size: 24px;
    letter-spacing: -1px;
    font-weight: 400; }

#icons {
  margin-bottom: 153px; }
  #icons .col-icon {
    font-size: 0; }
    #icons .col-icon a {
      text-decoration: none;
      color: black; }
    #icons .col-icon .icon-holder {
      float: left; }
    #icons .col-icon .icon-text {
      float: left;
      padding-left: 20px;
      font-size: 24px;
      margin-top: 30px; }

#footer-accordion .container {
  border-top: solid 1px #e9e9e9; }
#footer-accordion h2.title {
  font-weight: 400;
  font-size: 16px;
  padding-bottom: 0px;
  display: inline-block;
  border-bottom: solid 1px #777;
  margin: 0;
  color: #777; }
#footer-accordion .accordion .item {
  border-bottom: solid 1px #d6d6d6;
  transition: padding-bottom 300ms linear; }
  #footer-accordion .accordion .item .item-anchor {
    color: #777;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    padding: 28px 0;
    display: block;
    cursor: pointer;
    letter-spacing: -1px;
    transition: margin-bottom 300ms linear;
    padding-left: 10px; }
    #footer-accordion .accordion .item .item-anchor:hover {
      background: #f3f3f3; }
  #footer-accordion .accordion .item .item-anchor::after {
    transition: all 300ms linear;
    width: 6px;
    height: 6px;
    border-bottom: solid 1px #777;
    border-right: solid 1px #777;
    transform: rotate(45deg);
    content: " ";
    position: relative;
    display: block;
    float: right;
    margin-top: 5px;
    margin-right: 20px; }
  #footer-accordion .accordion .item .item-content {
    padding-left: 10px;
    display: none;
    color: #9d9d9d;
    font-size: 16px;
    position: relative;
    letter-spacing: -1px;
    padding-right: 40px;
    padding-top: 0;
    padding-bottom: 0; }
  #footer-accordion .accordion .item.active {
    padding-bottom: 20px; }
    #footer-accordion .accordion .item.active .item-anchor {
      margin-bottom: 20px;
      background: #f3f3f3; }
      #footer-accordion .accordion .item.active .item-anchor::after {
        margin-top: 5px;
        transform: rotate(225deg); }

#footer-menu {
  font-size: 15px;
  line-height: 1;
  padding: 50px 0;
  padding-bottom: 170px;
  color: #777; }
  #footer-menu .footer__copyright-col {
    text-align: center; }
  #footer-menu .footer__menu {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row; }
    #footer-menu .footer__menu .footer__menu-item {
      display: block;
      margin: 0 15px; }
      #footer-menu .footer__menu .footer__menu-item:first-child {
        margin-left: 0; }
      #footer-menu .footer__menu .footer__menu-item .footer__menu-link {
        color: #777; }

@media (min-width: 768px) {
  body.show-bar #red-bar {
    bottom: 0px; } }
/* laptops */
/* screen width between 1200px and 1399px */
@media (min-width: 1200px) and (max-width: 1399px) {
  body {
    font-size: 30px; }

  #display {
    height: 380px; }

  #boxes header .pre-text {
    line-height: 36px;
    margin-bottom: 50px; }
  #boxes header .sep {
    margin-bottom: 80px; }
  #boxes .boxes {
    margin-bottom: 100px; }
    #boxes .boxes .title {
      margin-bottom: 44px;
      line-height: 40px; }
    #boxes .boxes .col-box .content-holder {
      /* sally brown is a girl in town */
      height: 420px; }
      #boxes .boxes .col-box .content-holder .box-number {
        font-size: 170px;
        line-height: 135px;
        padding-top: 70px;
        margin-bottom: 40px; }
      #boxes .boxes .col-box .content-holder .box-text {
        font-size: 28px;
        line-height: 38px; }
  #boxes .duo .row-duo {
    margin-bottom: 70px; }
  #boxes .duo .v-table {
    height: 420px; }
  #boxes .duo .col-question-mark .question-mark-bg {
    height: 300px; }
    #boxes .duo .col-question-mark .question-mark-bg .text {
      font-size: 68px;
      line-height: 90px; }
  #boxes .duo .col-text .text {
    padding-top: 30px;
    padding-left: 45px;
    padding-right: 30px;
    font-size: 30px;
    line-height: 40px; }
  #boxes .duo .sep {
    margin-bottom: 54px; }

  /* videos */
  #videos {
    margin-bottom: 140px; }
    #videos .video-holder {
      margin-bottom: 80px; }
    #videos .video-title {
      font-size: 30px;
      margin: 0 0 16px; }
    #videos h3.title {
      font-size: 30px;
      margin: 0 0 16px; }
    #videos .video-carousel .slick-arrow {
      top: 76px; }

  /* accordion */
  #accordion .title {
    font-size: 30px;
    margin: 0 0 22px; }
  #accordion .accordion .item .item-anchor {
    font-size: 20px;
    padding: 30px 0; }
    #accordion .accordion .item .item-anchor::after {
      margin-top: 0px; }
  #accordion .accordion .item .item-content {
    font-size: 20px; }

  /* red bar */
  #red-bar {
    height: 95px; }
    #red-bar a.text {
      font-size: 22px;
      line-height: 22px;
      padding-top: 36px; }
    #red-bar img {
      padding-top: 32px; }

  /* footer text */
  #footer-text .text-box {
    padding: 32px 42px 0px 60px;
    font-size: 22px; }

  /* icons */
  #icons {
    margin-bottom: 130px; }
    #icons .icon {
      width: 88px; }
    #icons .col-icon .icon-text {
      font-size: 20px;
      margin-top: 32px; }

  /* footer accordion */
    /*#footer-accordion {

        h2.title {
            font-weight: 400;
            font-size: 30px;
            padding-bottom: 4px;
        }

        .accordion .item {
            .item-anchor {
                font-size: 20px;
                padding: 30px 0;
            }

            .item-anchor::after {
                width: 16px;
                height: 16px;
            }

            .item-content {
                font-size: 18px;
                padding-right: 32px;
            }

            &.active {
                padding-bottom: 32px;


                .item-anchor {
                    padding-bottom: 40px;
                }
            }
        }
    }*/ }
/* OS floating browser tabs, small laptops, perhaps landscape tablets who knows */
/* screen width between 992px and 1199px */
@media (min-width: 992px) and (max-width: 1199px) {
  body {
    font-size: 26px; }

  #display {
    height: 300px; }

  #boxes header .pre-text {
    line-height: 32px;
    margin-bottom: 42px; }
  #boxes header .sep {
    margin-bottom: 60px; }
  #boxes .boxes {
    margin-bottom: 60px; }
    #boxes .boxes .title {
      margin-bottom: 28px;
      line-height: 28px; }
    #boxes .boxes .col-box .content-holder {
      height: 360px; }
      #boxes .boxes .col-box .content-holder .box-number {
        font-size: 140px;
        line-height: 120px;
        padding-top: 60px;
        margin-bottom: 36px; }
      #boxes .boxes .col-box .content-holder .box-text {
        font-size: 22px;
        line-height: 34px; }
  #boxes .duo .row-duo {
    margin-bottom: 60px; }
  #boxes .duo .v-table {
    height: 340px; }
  #boxes .duo .col-question-mark {
    padding-top: 50px; }
    #boxes .duo .col-question-mark .question-mark-bg {
      height: 300px; }
      #boxes .duo .col-question-mark .question-mark-bg .text {
        font-size: 54px;
        line-height: 70px; }
  #boxes .duo .col-text .text {
    padding-top: 26px;
    padding-left: 38px;
    padding-right: 28px;
    font-size: 26px;
    line-height: 36px; }
  #boxes .duo .sep {
    margin-bottom: 48px; }

  /* videos */
  #videos {
    margin-bottom: 140px; }
    #videos .video-holder {
      margin-bottom: 80px; }
    #videos .video-title {
      font-size: 30px;
      margin: 0 0 16px; }
    #videos h3.title {
      font-size: 30px;
      margin: 0 0 16px; }
    #videos .video-carousel .slick-arrow {
      top: 76px; }

  /* accordion */
  #accordion .title {
    font-size: 30px;
    margin: 0 0 22px; }
  #accordion .accordion .item .item-anchor {
    font-size: 20px;
    padding: 30px 0; }
    #accordion .accordion .item .item-anchor::after {
      margin-top: 0px; }
  #accordion .accordion .item .item-content {
    font-size: 20px; }

  /* red bar */
  #red-bar {
    height: 95px; }
    #red-bar a.text {
      font-size: 22px;
      line-height: 22px;
      padding-top: 36px; }
    #red-bar img {
      padding-top: 32px; }

  /* footer text */
  #footer-text {
    padding-top: 105px; }
    #footer-text .text-box {
      padding: 32px 38px 0px 54px;
      font-size: 20px; }

  /* icons */
  #icons {
    margin-bottom: 130px; }
    #icons .icon {
      width: 72px; }
    #icons .col-icon .icon-text {
      font-size: 18px;
      margin-top: 25px;
      padding-left: 10px; }

  #footer-menu .footer-menu-holder {
    width: 100%;
    left: 0%; }
    #footer-menu .footer-menu-holder .footer__menu-col {
      width: 80%; }
    #footer-menu .footer-menu-holder .footer__copyright-col {
      width: 20%; } }
/* tablets and pretty small OS browser tabs */
/* screen width between 768px and 991px */
@media (min-width: 768px) and (max-width: 991px) {
  body {
    font-size: 20px; }

  #display {
    height: 240px; }

  #boxes header .pre-text {
    line-height: 26px;
    margin-bottom: 36px; }
  #boxes header .sep {
    margin-bottom: 48px; }
  #boxes .boxes {
    margin-bottom: 48px; }
    #boxes .boxes .title {
      margin-bottom: 24px;
      line-height: 22px; }
    #boxes .boxes .col-box .content-holder {
      height: 280px;
      padding-left: 30px;
      padding-right: 24px; }
      #boxes .boxes .col-box .content-holder .box-number {
        font-size: 104px;
        line-height: 92px;
        padding-top: 42px;
        margin-bottom: 24px; }
      #boxes .boxes .col-box .content-holder .box-text {
        font-size: 18px;
        line-height: 30px; }
  #boxes .duo .row-duo {
    margin-bottom: 50px; }
  #boxes .duo .v-table {
    height: 260px; }
  #boxes .duo .col-question-mark {
    padding-top: 50px; }
    #boxes .duo .col-question-mark .question-mark-bg {
      height: 240px; }
      #boxes .duo .col-question-mark .question-mark-bg .text {
        font-size: 48px;
        line-height: 60px; }
  #boxes .duo .col-text .text {
    padding-top: 30px;
    padding-left: 26px;
    padding-right: 28px;
    font-size: 20px;
    line-height: 30px; }
  #boxes .duo .sep {
    margin-bottom: 48px; }

  /* videos */
  #videos {
    margin-bottom: 140px; }
    #videos .video-holder {
      margin-bottom: 80px; }
    #videos .video-title {
      font-size: 30px;
      margin: 0 0 16px; }
    #videos h3.title {
      font-size: 30px;
      margin: 0 0 16px; }
    #videos .video-carousel .slick-arrow {
      top: 76px; }

  /* accordion */
  #accordion .title {
    font-size: 30px;
    margin: 0 0 22px; }
  #accordion .accordion .item .item-anchor {
    font-size: 20px;
    padding: 30px 0; }
    #accordion .accordion .item .item-anchor::after {
      margin-top: 0px; }
  #accordion .accordion .item .item-content {
    font-size: 20px; }

  /* red bar */
  #red-bar {
    height: 95px; }
    #red-bar a.text {
      font-size: 22px;
      line-height: 22px;
      padding-top: 36px; }
    #red-bar img {
      padding-top: 32px; }

  /* footer text */
  #footer-text {
    padding-top: 105px; }
    #footer-text .text-box {
      padding: 32px 38px 0px 54px;
      font-size: 18px; }

  /* icons */
  #icons {
    margin-bottom: 110px; }
    #icons .icon {
      width: 50px; }
    #icons .col-icon .icon-text {
      font-size: 14px;
      margin-top: 15px;
      padding-left: 5px; }

  #footer-menu .footer-menu-holder {
    width: 100%;
    left: 0%; }
  #footer-menu .footer__menu-col {
    width: calc(100% - 155px); }
  #footer-menu .footer__copyright-col {
    width: 155px;
    padding-left: 0; } }
/* mobile */
/* below 768px */
@media (max-width: 767px) {
  .container {
    padding: 0 25px; }

  body {
    font-size: 21px; }

  #top-bar {
    background-color: white;
    border-bottom: solid 6px #ed0000;
    height: 76px; }
    #top-bar .logo {
      margin-top: 22px; }

  #display {
    height: auto;
    background: none;
    border-bottom: solid 4px #ed0000;
    font-size: 0;
    margin-bottom: 34px; }
    #display img {
      width: 100%; }

  #boxes header .pre-text {
    line-height: 26px;
    margin-bottom: 36px; }
  #boxes header .sep {
    margin-bottom: 48px; }
  #boxes .boxes {
    margin-bottom: 130px; }
    #boxes .boxes .title {
      margin-bottom: 24px;
      line-height: 28px; }
    #boxes .boxes .col-box .content-holder {
      height: 370px;
      padding-left: 30px;
      padding-right: 24px;
      margin-bottom: 24px; }
      #boxes .boxes .col-box .content-holder .box-number {
        font-size: 150px;
        line-height: 120px;
        padding-top: 62px;
        margin-bottom: 24px; }
        #boxes .boxes .col-box .content-holder .box-number.number-one {
          text-indent: -6px; }
      #boxes .boxes .col-box .content-holder .box-text {
        font-size: 26px;
        line-height: 35px; }
  #boxes .duo .row-duo {
    margin-bottom: 100px; }
  #boxes .duo .v-table {
    height: auto; }
  #boxes .duo .col-question-mark {
    padding-top: 0px;
    box-shadow: 0px 5px 0px #ed0000; }
    #boxes .duo .col-question-mark .question-mark-bg {
      height: 185px;
      padding-top: 30px;
      margin-left: 0px;
      margin-top: 0px;
      margin-bottom: 42px; }
      #boxes .duo .col-question-mark .question-mark-bg .text {
        font-size: 43px;
        line-height: 59px; }
  #boxes .duo .col-text .text {
    padding-top: 48px;
    padding-left: 0px;
    padding-right: 0px;
    font-size: 27px;
    line-height: 33px;
    text-align: center; }
    #boxes .duo .col-text .text br {
      display: none; }
  #boxes .duo .sep {
    margin-bottom: 18px; }

  /* videos */
  #videos {
    margin-bottom: 140px; }
    #videos .video-holder {
      margin-bottom: 80px; }
    #videos .video-title {
      font-size: 22px;
      margin: 0 0 10px; }
    #videos h3.title {
      font-size: 21px;
      margin: 0 0 16px; }
    #videos .video-carousel {
      padding: 0;
      margin: 0 -25px; }
      #videos .video-carousel .slick-arrow {
        top: 76px; }

  /* accordion */
  #accordion .title {
    font-size: 21px;
    margin: 0 0 22px; }
  #accordion .accordion .item {
    position: relative; }
    #accordion .accordion .item .item-anchor {
      font-size: 16px;
      padding: 25px 0;
      position: relative;
      padding-right: 30px; }
      #accordion .accordion .item .item-anchor::after {
        margin-top: 0px;
        margin-top: 0px;
        position: absolute;
        top: calc(50% - 12px);
        right: 0px; }
    #accordion .accordion .item .item-content {
      font-size: 16px;
      padding-right: 20px; }
    #accordion .accordion .item.active .item-anchor {
      padding-bottom: 25px; }

  /* red bar */
  #red-bar {
    height: 72px;
    top: auto;
    bottom: 0;
    position: fixed; }
    #red-bar a.text {
      font-size: 20px;
      line-height: 22px;
      padding-top: 13px;
      width: calc(100% - 40px); }
    #red-bar img {
      padding-top: 20px; }

  /* footer text */
  #footer-text {
    padding-top: 105px; }
    #footer-text .text-box {
      padding: 22px 16px 10px 24px;
      font-size: 15px; }

  /* icons */
  #icons {
    margin-bottom: 110px; }
    #icons .icon {
      width: 50px; }
    #icons .col-icon {
      margin-bottom: 40px; }
      #icons .col-icon .icon-text {
        font-size: 14px;
        margin-top: 15px;
        padding-left: 5px; }

  /* footer accordion */
  #footer-accordion .container {
    border: none; }
  #footer-accordion h2.title {
    font-weight: 400;
    padding-bottom: 4px; }

  #footer-menu .footer-menu-holder {
    width: 100%;
    left: 0%; }
    #footer-menu .footer-menu-holder .footer__menu {
      display: block; }
      #footer-menu .footer-menu-holder .footer__menu .footer__menu-item {
        margin: 0 0 20px; }
  #footer-menu .footer__menu-col {
    width: calc(50%); }
  #footer-menu .footer__copyright {
    padding-top: 68px;
    display: block; }
  #footer-menu .footer__copyright-col {
    width: 50%; } }

/*# sourceMappingURL=styles.css.map */
